@import "partials/variables";
// @import "partials/responsive";

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: darkslateblue;
    max-width: 1366px;
    height: 100vh;
    width: 100%;
    transform: skewX(200deg);
    @media only screen and (max-width: 900px) {
        background-color: red;
    }
}

.circle {
    background-color: gray;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    @media only screen and (max-width: 768px) {
        background-color: red;
    }
}